.white {
  color: white;
}

.black {
  background: black;
}

body,
#root,
html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  border: 0;
}

.Grid {
  width: 60vw;
  height: 90vh;
  margin: 50px auto;
}
